<div class="backdrop">
  <div class="wrapper">
    @if (isOpenDeleteModal){
    <app-modal-delete
      [userName]="userName"
      (onDeleteUser)="onDelete(userName)"
      (onCloseModal)="onCloseMenu($event)"
    />
    } @if(isOpenEditModal){
    <app-modal-edit
      [userName]="userName"
      [userList]="userList"
      (updataUser)="updataUser($event)"
      (onCloseModal)="onCloseMenu($event)"
    />
    } @if(isOpenCreateModal){
    <app-modal-create
      [userName]="userName"
      (createUser)="createUser($event)"
      (onCloseModal)="onCloseMenu($event)"
    />
    }
  </div>
</div>
