<main class="main">
  <app-create-user (openModal)="onOpenModal($event)" />
  <app-user-list [userList]="userList" (isOpen)="onOpenModal($event)" />
  @if(isOpen){
  <app-modal
    (onCloseModal)="onCloseModal($event)"
    (onDeleteUser)="onDeleteUser($event)"
    (onCreateUser)="onCreateUser($event)"
    [userName]="userName"
    [userList]="userList"
    [isOpenDeleteModal]="isOpenDeleteModal"
    [isOpenEditModal]="isOpenEditModal"
    [isOpenCreateModal]="isOpenCreateModal"
  />
  }
</main>
